# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Windows-style newlines with a newline ending every file
[**/*]
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[**/*.{*proj,props}]
indent_style = space
indent_size = 2

[.travis.yml]
end_of_line = lf
indent_style = space
indent_size = 2

[version.json]
indent_size = 2

[{.gitignore,.editorconfig}]
end_of_line = lf

[LICENSE]
end_of_line = lf
